# Data files - .zip, .csv
data/
*.zip
*.csv

# Deployment
dist/

# Intellij
*.idea
*.iml

# Pycharm
.app_bash_profile

# Terraform
.terraform/
terraform/scratch.tf
*.tfstate*
terraform/crash.log

*.ipynb
!notebooks/*ipynb
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.DS_Store
# C extensions
*.so

# Distribution / packaging
.Python
env/
*venv*/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Javascript
**/node_modules/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
nosetests.xml

# pyenv
.python-version

# virtualenv
.venv
venv/

# mypy
.mypy_cache/
